[Desktop Entry]
Type=Application
Name=Simutrans
Comment=An open source transportation simulation game
Exec=simutrans
Icon=simutrans
Categories=Game;StrategyGame;
Terminal=false
StartupNotify=true
