#!/bin/bash
#
# To automatically launch SABnzbd when Pardus start;
#
# service SABnzbd on
#


# SABnzbd should read the config file of this user. (/home/USERNAME/.sabnzbd/sabnzbd.ini)
USERNAME=""

# SABnzbd need login/password ? (needed for shutdown)
LOGIN=""
PASSWORD=""

# Default http port.
PORT="8080"

# SABnzbd configured to use SSL ?
USE_SSL="false"

# Default https port
PORT_SSL="9090"
